.img1FP{
    width: 70%;
}

.popInBottom1.active{
  transform: translateX(0);
  opacity: 1;
}
.popInBottom1{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: .5s all ease;
}
